<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pomodoro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F9A9CC5220C3DE20096E2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F9A9CD7220C3DE40096E2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F9A9CE2220C3DE40096E2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
